// Arists page
.artists_sub_nav {
  display: inline-block;
  text-align: center;

  > li {
    display: inherit;

    > a {
      padding: 0 .7rem;
      white-space: nowrap;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.artist_subtitle {
  font-size: 130%;
  font-weight: $global-weight-bold;
  background-color: $primary-color;
  color: $success-color;
  line-height: 1.3;
  padding: 1rem;
  margin-bottom: 2rem;
}

.artist_section {
  font-weight: $global-weight-bold;

  img {
    padding:0 0 4rem 0;
    width: 300px;

      &.vertical {
        width: 275px;
      }
      &.vertical_extra_long {
        width: 250px;
      }

      @include breakpoint(medium up) {
        padding:0 0 6rem 0;
        width: inherit;

        &.vertical {
          width: 500px;
        }
        &.vertical_extra_long {
          width: 450px;
        }
      }
    }


    figcaption {
      padding-bottom: .5rem;
    }

    .two_images {
      img {
        padding:0 0 2rem 0;
        vertical-align: text-top;
      }
      padding:0 0 6rem 0;
    }

    div > h3 {
      padding-bottom: 5rem;
    }

    p, h3, h4, .h3, .h4 {
      margin-bottom: 0;
    }

}

// artist_pages
.artist_pages {
  margin: 0 auto;
  text-align: center;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "nav nav nav"
    "title title title"
    ". main ."
    "bioContainer bioContainer bioContainer"
    ". artistContact .";

    @include breakpoint(mid_medium up) {
      grid-template-columns: auto 800px auto;
    }
  }

  .artist_bio__container {
    grid-area: bioContainer; width: 100%;
    background-color: $primary-color;
    color: $success-color;
    padding: 2rem 0 1rem 0;
    @include breakpoint(mid_medium up) {
      padding: 2rem 0;
    }
  }
  .artist_bio {
    margin: 0 auto;
    width: 90%;
    @include breakpoint(mid_medium up) {
      width: 70%;
    }

    &__title {
      font-weight: $global-weight-bold;
      padding-bottom: 1rem;
    }
  }

  .artist_pages__contact {
    padding-top: 2rem;
    margin-bottom: -3rem;
    grid-area: artistContact;

    @include breakpoint(mid_medium up) {
      padding-top: 3rem;
    }
  }

}
