// list styles
ul.no_dots {
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  display: flex;
}

ul.no_dots_vert {
  list-style-type: none;
  margin-left: 0;
}

ul.no_dots_vert_center {
  list-style-type: none;
  margin-left: 0;
  text-align: center;
}

// anchor
a {
  font-weight: 900;
  text-underline-position: under;

  &[href^="tel:"] {
    text-decoration: none;
  }
}
.main {
  h3, .h3 {
    margin-bottom: 1rem;
  }


  ul.no_dots_vert {
    h3, .h3 {
      margin-bottom: .10rem;
    }
  }
}


address {
  font-style: normal;
}

// header
.header_container {
  header {grid-area: header;}
  background-color: $dark-black;
  margin: 0 auto;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: auto 320px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    ". header .";

    @include breakpoint(large up) {
      grid-template-columns: auto 800px auto;
    }

  }
}


.header_container {
  background-color: $dark-black;
}
// header top - logo
.header_top__tagline {grid-area: tagline;}
.header_top__logo {grid-area: logo;}

.header_top__container {
  background-color: $dark-black;
  text-align: center;
  padding-top: .5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
  "tagline"
  "logo";
}
.header_top__tagline {
  width: 100%;
  letter-spacing: .2rem;
  padding-bottom: 1rem;
  font-size: 80%;
  @supports (font-variant-caps: petite-caps) {
    font-variant-caps: petite-caps;
  }

  @include breakpoint(medium up) {
    padding-bottom: 1.5rem;
    font-size: 100%;
  }
}

.header__logo_large {
  display: none;
    @include breakpoint(medium up) {
      display: block;
    }
}

.header__logo_mobile {
  @include breakpoint(medium up) {
    display: none;
  }
}


// global grid
.main_wrapper {

  .main {grid-area: main; background-color: $success-color;}
  nav {grid-area:nav;}
  .page_title {grid-area: title;}


  margin: 0 auto;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "nav nav nav"
    "title title title"
    ". main .";

    @include breakpoint(medium up) {
      grid-template-columns: auto 800px auto;
    }
  }
}

// main section

.main_wrapper {
  background-color: $success-color;
  padding: 0;

  nav {
    background-color: $primary-color;
  }

}

.page_title {
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  line-height: 1.5;
  h2, .h2 {
    line-height: 1.45;
    margin-top: -2rem;
    // text-shadow: 4px 2px 8px #333;
  }
}


.main {
  padding: 2rem 0 0 0;
  text-align: center;

  @include breakpoint(medium up) {
    padding: 2.5rem 0 0 0;
  }

  img {
    padding:1rem 0;
  }

}

.bottom__container {
  background-color: $success-color;
  margin-top: -.5rem;
  padding: 2rem 0 1rem 0;

}
// Arists page
.artist_individual {
  figcaption {
    font-weight: $global-weight-bold;
  }
}
