// accessibility
.screen_reader_accessible {
  display: none;
  width:0;
  height: 0;
  color: $black;
  background: $white;
}

#skiptocontent a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  background-color: #B22222;
  color: $white;
  z-index: 20;
  &:focus {
    position:relative;
    width:100vw;
    left:0;
    height:auto;
    padding: .5rem 1rem;
    display: block;
  }
  &:hover, &:active {
    color: #D6D6D6;
  }
}

// list styles
ul.no_dots {
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  display: flex;
}

ul.no_dots_vert {
  list-style-type: none;
  margin-left: 0;
}


// header
.header_container {
  header {grid-area: header;}

  margin: 0 auto;
  background-color: $dark-black;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    ". header ."
  }
}


.header_container {
  background-color: $dark-black;
}
// header top - logo
.header_top__tagline {grid-area: tagline;}
.header_top__logo {grid-area: logo;}

.header_top__container {
  background-color: $dark-black;
  text-align: center;
  padding-top: .5rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100% 100%;
  grid-template-areas:
  "tagline"
  "logo";
}
.header_top__tagline {
  width: 100%;
  letter-spacing: .2rem;
  padding-bottom: 1rem;
  @supports (font-variant-caps: petite-caps) {
    font-variant-caps: petite-caps;
  }
}


// global grid
.main_wrapper {

  .main {grid-area: main; background-color: $success-color;}
  nav {grid-area:nav;}
  .page_title {grid-area: title;}
  margin: 0 auto;
  background-color: $success-color;

  @supports (display: grid) {
    display: grid;
    grid-template-columns:  auto 800px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "nav nav nav"
    "title title title"
    ". main .";
  }
}

// navigation
nav {
  ul {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    box-shadow: 1px 5px 6px #222;
  }
  li {
    font-size: 120%;
    text-align: center;
    border: 1px solid $dark-black;
    background-color: $secondary-color;
    flex-grow: 1;
    font-weight: 900;

    &.fill {
      flex-grow:3;
    }

    a {
      line-height: 1;
      display: block;
      text-shadow: 1px 4px 4px $black;
      border: 8px solid $secondary-color;
      &:hover, &:focus, &:active, &.active {
        background-color: $primary-color;
        color: $dark-black;
        text-shadow: none;
      }
    }

  }
}

// main section

.main_wrapper {
  nav {
    background-color: $primary-color;
  }
}

.main_wrapper {
  padding: 0;
}

.page_title {
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
}


.main {
  padding: 2rem 0 0 0 ;
  text-align: center;

  ul {
    text-align: left;
  }

  img {
    padding:1rem 0;
  }

}

// homepage
.main_wrapper#home {

  nav {
    background-color: $success-color;
  }

  .main {
    padding: 2rem 0 0 0;
  }
}
