// header
.header_container {
  header {grid-area: header;}
  background-color: $dark-black;
  margin: 0 auto;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    ". header .";

    @include breakpoint(mid_medium up) {
      grid-template-columns: auto 800px auto;
    }

  }
}


.header_container {
  background-color: $dark-black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
// header top - logo
.header_top__tagline {grid-area: tagline;}
.header_top__logo {
  grid-area: logo;
}

.header_top__container {
  background-color: $dark-black;
  padding-top: .5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
  "tagline"
  "logo";
}
.header_top__tagline {
  margin: 0 auto;
  width: 85%;
  letter-spacing: .2rem;
  padding-bottom: 1rem;
  padding-left: .9rem;
  font-size: 80%;
  @supports (font-variant-caps: petite-caps) {
    font-variant-caps: petite-caps;
  }

  @include breakpoint(mid_medium up) {
    width: 100%;
    padding-bottom: 1.5rem;
    font-size: 100%;
  }
}

.header__logo_large {
  display: none;
    @include breakpoint(mid_medium up) {
      display: inline;
    }
}

.header__logo_mobile {
  @include breakpoint(mid_medium up) {
    display: none;
  }
}
