// homepage
.home__intro {grid-area: intro;}
.home__featured {grid-area: featured;}
.home__images {
  grid-area: images;
    img {
      padding:1rem 0;
    }
}

#home {
    text-align: center;
    margin: 0 auto;
    background-color: $success-color;

    @supports (display: grid) {
      display: grid;
      grid-template-columns:  auto 800px auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
      ". intro ."
      "featured featured featured"
      ". images .";
    }
}

.home__featured_title {
  height: 3rem;
  width: 100%;
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: $global-weight-bold;
  line-height: 2;
  margin-top: 3rem;
  font-size: 140%;
}

.two-col {
  background-color: $primary-color;
  font-weight: 700;
  color: $success-color;
  width: 100%;
  margin: 0 auto 3rem auto;
  padding: 0 20%;
}

.col-one, .col-two {
  display: inline-block;
  width: 48%;
  padding: 1rem 0;
  li {
    line-height: 2.4;
  }
}
