// homepage
#home_wrapper {
  margin-bottom: 0rem;
}

.home__intro {grid-area: home_intro; padding-top: 1rem;}
.home__featured {grid-area: home_featured;}
.home__images {grid-area: home_images;
  padding-top: 2rem;
    img {
      padding: 1rem 0;
    }
}

#home {
    text-align: center;
    margin: 0 auto;
    background-color: $success-color;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: auto 90% auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
      ". home_intro ."
      "home_featured home_featured home_featured"
      ". home_images .";

      @include breakpoint(medium up) {
        grid-template-columns: auto 600px auto;
      }
      @include breakpoint(mid_medium up) {
        grid-template-columns: auto 800px auto;
      }
    }
}

.home__intro, .home__images {
  margin: 0 auto;
  @supports (display: grid) {
    width: inherit;
  }

  width: 90%;
  @include breakpoint(medium up) {
    width: 600px;
  }
  @include breakpoint(mid_medium up) {
    width: 800px;
  }
}

.home__featured_title {
  height: 3rem;
  width: 100%;
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: $global-weight-bold;
  line-height: 2;
  margin-top: 1rem;
  font-size: 140%;

  @include breakpoint(mid_medium up) {
    margin-top: 3rem;
  }

}

.two-col {
  background-color: $primary-color;
  font-weight: 700;
  color: $success-color;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  @include breakpoint(medium) {
    padding: 0 3%;
  }
  @include breakpoint(mid_medium up) {
    padding: 0 15%;
  }
}

.col-one, .col-two {
  display: inline-block;
  width: 100%;
  @include breakpoint(medium up) {
    padding: 1rem 0;
    width: 49%;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    line-height: 2.4;
  }
}
