<footer id="footer">
  <div id="footer_inner">
    <img src="footer/footer2.gif" alt="Gust Gallery"  /> <!-- width="800" height="78" -->
      <div class="footer_Text" style="padding-bottom:1rem;">
        <p>112A Waterton Avenue (P.O.Box 167), Waterton Park, Alberta T0K 2M0 Canada</p>
        <!-- During Season 403-859-2535 / Off Season Nov - April 403-827-0084 -->
        <p>Phone: 403-827-0084</p>
        <p>Email: <a class="cream" href="mailto:gustgal@telus.net">gustgal@telus.net</a></p>
        <p>Copyright 2005-<span id="year"></span>, all rights reserved, Gust Gallery.</p>
      </div>
  </div><!-- end footer_inner -->
</footer><!-- end footer -->
