<footer id="footer">
  <ul class="no_dots_vert">
    <li>
      <strong>Gust Gallery</strong>
    </li>
    <li>
      <address>
        112A Waterton Avenue (P.O.Box 167)<br />Waterton Park, Alberta T0K 2M0 Canada
      </address>
    </li>
    <li class="li__top_space">
      Phone <a href="tel:+01-403-859-2535">403-859-2535</a>
      <!-- During Season 403-859-2535 / Off Season Nov - April 403-827-0084 -->
    </li>
    <li>
      Email <a  href="mailto:gustgal20@gmail.com?subject=Inquiry%20From%20Gust%20Gallery%20Website">gustgal20@gmail.com</a>
    </li>
    <li class="li__top_space">
      <a href="https://www.instagram.com/gust_gallery/">Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/gustgallery/">Facebook</a>
    </li>
    <li class="footer__copy li__top_space">
      Copyright 2005-<span id="year"></span>, all rights reserved, Gust Gallery.
    </li>
    <li>
      <a href="{{root}}sitemap.html">Sitemap</a>
    </li>
    <li class="footer__to_top">
      <a href="#top" class="footer__to_top__link" aria-label="Return to top">
        <span class="footer__to_top__symbol">^ </span>Back to Top<span class="footer__to_top__symbol"> ^</span>
      </a>
    </li>
  </ul>
</footer><!-- end footer -->
