<header>
  <h1 class="screen_reader_accessible">Gust Gallery - Fine Arts</h1>
  <div class="header_top__container">
    <div class="header_top__tagline">
        Waterton Lakes National Park
    </div>
    <div class="header_top__logo">
      <a href="{{root}}/">
        <img src="{{root}}/assets/graphics/header_logo.png" alt="Gust Gallery - Fine Arts" class="header__logo_large">
        <img src="{{root}}/assets/graphics/header_logo_mobile.png" alt="Gust Gallery - Fine Arts" class="header__logo_mobile">
      </a>
    </div>
  </div>
</header>
