<header>
  <!-- top section with logo -->
  <div class="header_top__container">
    <div class="header_top__logo">
      <img src="{{root}}/assets/graphics/header_logo.png" alt="Gust Gallery - Fine Arts">
      <h1 class="screen_reader_accessible">Gust Gallery - Fine Arts</h1>
    </div>
    <div class="header_top__tagline">
        Waterton Lakes National Park
    </div>
  </div>
  <!-- top section with logo -->
  <nav aria-label="Main Navigation" role="navigation">
    <ul class="no_dots">
      {{> nav}}
    </ul>
  </nav>
</header>
