<ul class="no_dots_vert">
  {{> nav}}
  <li class="sitemap__titles">- Artist Pages -<br />Painters</li>
  <li><a a href="{{root}}artist_pages/cecile_albi.html">Cecile Albi</a>
  </li>
  <li><a href="{{root}}artist_pages/rachelle_brady.html">Rachelle Brady</a>
  </li>
  <li><a href="{{root}}/artist_pages/louis_brandsma.html">Louis Brandsma</a></li>
  <li><a href="{{root}}artist_pages/rod_charlesworth.html">Rod Charlesworth</a></li>
  <li><a href="{{root}}artist_pages/steve_coffey.html">Steve Coffey</a>
  </li>
  <li><a href="{{root}}artist_pages/bill_duma.html">Bill Duma</a>
  </li>
  <li><a href="{{root}}artist_pages/don_hamm.html">Don Hamm</a>
  </li>
  <li><a href="{{root}}artist_pages/kenneth_harrison.html">Kenneth T. Harrison</a>
  </li>
  <li><a href="{{root}}artist_pages/martha_henry_painter.html">Martha Henry</a>
  </li>
  <li><a href="{{root}}artist_pages/maryanne_jespersen.html">Maryanne Jespersen</a>
  </li>
  <li><a href="{{root}}/artist_pages/danin_lawrence.html">Danin Lawrence</a></li>
  <li><a href="{{root}}artist_pages/brent_laycock.html">Brent Laycock, RCA</a>
  </li>

  <li><a href="{{root}}artist_pages/pieter_molenaar.html">Pieter Molenaar</a>
  </li>
  <li><a href="{{root}}artist_pages/roberta_murray.html">Roberta Murray</a>
  </li>
  <li><a href="{{root}}artist_pages/neil_patterson_painter.html">Neil Patterson</a></li>
  <li><a href="{{root}}artist_pages/karin_richter.html">Karin Richter</a></li>
  <li><a href="{{root}}artist_pages/jean_sheppard.html">Jean Sheppard</a></li>
  <li><a href="{{root}}artist_pages/linda_anderson_stewart.html">Linda Anderson Stewart</a>
  </li>
  <li><a href="{{root}}artist_pages/bill_webb.html">Bill Webb</a>
  </li>
  <li><a href="{{root}}artist_pages/diana_zasadny.html">Diana Zasadny</a>
  </li>
  <li class="sitemap__titles">Sculptors &amp; Carvers</li>
  <li><a href="{{root}}artist_pages/tom_hjorleifson.html">Tom Hjorleifson</a>
  </li>
  <li><a href="{{root}}artist_pages/cathryn_jenkins.html">Cathy Jenkins</a>
  </li>
  <li><a href="{{root}}artist_pages/benjamin_oswald.html">Benjamin Oswald</a>
  </li>
  <li><a href="{{root}}artist_pages/reg_parsons.html">Reg Parsons</a>
  </li>
  <li class="sitemap__titles">Ceramics</li>
  <li><a href="{{root}}artist_pages/natalie_brewster.html">Natalie Brewster</a>
  </li>
  <li><a href="{{root}}artist_pages/marney_delver.html">Marney Delver</a>
  </li>
  <li><a href="{{root}}artist_pages/hilary_forge.html">Hilary Forge</a>
  </li>
  <li><a href="{{root}}artist_pages/judie_gibb.html">Judie Gibb</a>
  </li>
  <li><a href="{{root}}artist_pages/suzette_knudsen.html">Suzette Knudsen</a>
  </li>
  <li><a href="{{root}}artist_pages/neil_patterson_pottery.html">Neil Patterson</a>
  </li>
  <li><a href="{{root}}artist_pages/annette_ten_cate.html">Annette ten Cate</a>
  </li>
</ul>
