{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
<body>
  <div id="skiptocontent"><a href="#main_content">Skip navigation to main content</a></div>

    <div class="header_container">
      {{> header}}
    </div>

    <div class="main_wrapper artist_pages">

      <nav aria-label="Main Navigation" role="navigation">
        <div class="nav_bars">
          <div class="nav_bars__title">Menu</div>
          <div class="bars">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
        <ul class="no_dots main_nav">
          {{> nav}}
        </ul>
      </nav>

        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}

        <div class="artist_pages__contact">
          <p>Contact the Gallery for information regarding available artists works<br />
            <a href="mailto:gustgal@telus.net?subject=Inquiry%20From%20Gust%20Gallery%20Website">gustgal@telus.net</a>
          </p>
          <p>Return to <a href="{{root}}artists.html">The Artists</a> page.</p>
        </div>

    </div> <!-- end class="main_wrapper" -->

    <div class="bottom__container">
      <hr>
      {{> footer}}
    </div>
  <script src="{{root}}assets/js/app.js"></script>
    {{> scripts}}
</body>
</html>
